<footer>
  <div class="container">
    <div class="brand">
      <a href="/"><h3>Sign Wave</h3></a>
      <a href="mailto:vimallu.personal@gmail.com" target="_blank" rel="noopener">vimallu.personal&#64;gmail.com</a>
      <!-- Language selector is disabled until better support is added
      <br />
      <app-i18n-language-selector /> -->
    </div>

    <div class="legal" *transloco="let t; read: 'legal'">
      <h3>{{ t('title') }}</h3>
      <ul>
        @for (page of legalPages; track page) {
          <li>
            <a [routerLink]="['/legal', page]" queryParamsHandling="preserve">
              {{ t(page + '.title') }}
            </a>
          </li>
        }
      </ul>
    </div>

    <div class="social">
      <h3>Find Us</h3>
      <ul>
        <li><a href="https://www.linkedin.com/in/vimallu/" target="_blank" rel="noopener">LinkedIn</a></li>
        <li><a href="https://github.com/vimalluuu" target="_blank" rel="noopener">GitHub</a></li>
      </ul>
    </div>
  </div>
</footer>
